doctype html 
html 
head 
title :"livesworth"

body 
h1.first are you curious to know the minutes you lived in this world 
p lets check that by providing the data #{prompt}
h3#days you lived for around : #{dayslived} days
h3#minutes you lived for around : #{minutes} minutes
h3#seconds you lived for around : #{seconds} seconds

